
body section#header{
   background-color: rgb(9, 10, 10);
   margin: auto;
   height: 40px;
   width: auto;
   font-size:xx-large;
   font-style: normal;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    body {
        background-color: rgb(180, 213, 243);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        }