body {
    background: rgb(180, 213, 243);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    }
    h1{
        margin: auto;
        font-style: italic;
        background-color: rgb(180, 213, 243);
        box-sizing: border-box;
        width: 1200px;
        padding: 20px;
            }